@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

/*********** header ***********/
.head-wrapper {
    background-color: #4cae4c;
    margin: 0;
    width: 100%;
    color: #ffffff;
    font-weight: 200;
}

.main-wrapper {
    margin: 0;
}

.menu {
    border: #ddd 1px solid;
    width: 200px;
    background-color: #d5d5d5;
}

.meSize {
    width: 50px;
    height: 50px;
}